<section class="header">
  <div class="container">
    <a href="" class="logo">News</a>
    <div class="header_box">
      <nav class="nav">
        <ul class="nav_list">
          <li class="nav_item">
            <a href="" class="nav_link">Home</a>
          </li>
          <li class="nav_item">
            <a href="" class="nav_link">Favorite</a>
          </li>
          <li class="nav_item">
            <a href="" class="nav_link">Read</a>
          </li>
        </ul>
      </nav>

      <input type="text" class="header_search" />
      <div class="header_switch">
        <p class="light">Light</p>
        <input type="checkbox" />
        <p class="dark">Dark</p>
      </div>
    </div>
    <button class="search_btn">...</button>
  </div>
</section>
