.header {
  border-bottom: 1px solid #00000033;
  padding: 24px 0;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 42px;
  line-height: 1;
  font-weight: 700;
}

.header_box {
  display: none;
}

.search_btn {
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
}

@media only screen and (min-width: 768px) {
  .header_box {
    display: flex;
  }

  .nav_list {
    display: flex;
  }

  .header_switch {
    display: flex;
  }

  .nav_list {
    gap: 44px;
    margin-right: 32px;
  }

  .header_search {
    margin-right: 24px;
  }
}
